APP_ENV=local
APP_URL=http://localhost:8000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=todolist
DB_USER=postgres
DB_PASS=[isi password anda sendiri]

SESSION_COOKIE=todolist_session
SESSION_DAYS=7
REMEMBER_DAYS=30
